body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252A34;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

h1 {
  margin: 15px;
  font-size: 25px;
}

.cacheText {
  visibility: hidden;
}

figure {
  display: none;
}

header {
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
  color: white;
}


#helper {
  color: #ffffff;
  padding: 10px;
  animation: anim 2s infinite ease-in-out;
  text-align: center;
  width: 280px;
  height: auto;
}


#bouton_start {
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(206, 150, 206);
  border: 4px solid black;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

#messageBox {
  position: absolute;
  border: 5px solid black;
  font-size: 24px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  width: 280px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
}


#select-lvl {
  padding: 5px;
  font-weight: bolder;
  font-size: 10px;
}

#mobile-move {
  position: relative;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
}

#left-move,
#right-move,
#space {
  padding: 10px;
  font-size: 20px;
  margin: 10px;
}

#left-move, #right-move {
  width: 40%;
}


#points {
  text-align: center;
  padding: 10px;
  font-weight: bolder;
  font-size: 24px;
}

canvas {
  display: block;
  background-color: black;
}

@keyframes anim {
  0% {
    font-size: 16px;
  }

  50% {
    font-size: 17px;
  }

  100% {
    font-size: 16px;
  }
}


@media all and (max-device-width: 1023px) {

  .fa-arrow-right,
  .fa-arrow-left {
    padding: 0px 20px;
  }

  canvas {
    width: 100%;
  }

}

@media all and (min-device-width: 1024px) {
  #mobile-move {
    display: none;
  }

  #select-lvl {
    padding: 10px;
    font-weight: bolder;
    font-size: 16px;
  }


  .fa-arrow-right,
  .fa-arrow-left {
    padding: 0;
  }

}